<br><br><br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido/a a BigEye!</h1>
        <p class="lead">Vizualiza todos los usuarios con sus correspondientes registros de accesos, además de crear nuevos usuarios añadiendo un nombre y una imagen de su rostro.</p>
        <hr class="my-4">
        <p>¿A que esperas?</p>
        <p class="lead">
          <a class="btn btn-primary btn-md" href="" role="button" routerLink="/usuarios">Comenzar</a>
        </p>
      </div>
</div>
